@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div>
    <form asp-controller="Home" asp-action="">
        <textarea rows="10" class="form-control" width="90%"></textarea>
        <input type="submit" class="btn"/>
    </form>
</div>
